body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
header {
    width: 1200px;
    height: 400px;
    margin: 0 auto;
    font-family: 'Abril Fatface', cursive;
}

.container {
    width: 750px;
    margin: 0 auto;
}

.h1-image {
    background-image: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
    background-repeat: no-repeat;
    background-size: 1200px;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    color: #222222;
    font-size: 3rem;
    padding: 200px 0 50px;
}
h1 > span {
    font-size: 4rem;
}

.text {
    font-size: 1.25rem;
}

blockquote {
    background-color: grey;
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    color: white;
    position: relative;
    padding: 2rem 3rem;
    margin-inline: -2rem;
}
blockquote > span {
    font-size: 6rem;
    position: absolute;
    top: -1.5rem;
    left: -0.1rem;
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    font-style: italic;
    margin-top: 0;
}

p, ul {
    line-height: 2rem;
}

li {
    list-style-type: square;
}

.line {
    width: 100%;
    height: 3px;
    background-color: #222222;
    margin-block-start: 2.5rem;
    margin-block-end: 3rem;
}