body {
    margin: 0px;
}

p {
    background-color: #0D91A1;
    color: #015668;
    width: 300px;
    height: 100px;
    padding: 25px;
    margin: 25px;
    border: 5px solid #7DCE94;
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 30px;
}